<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{.Stylesheets}}
    <title>{{.Title}}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <a class="navbar-brand" href="#">{{.Title}}</a>
        <button class="btn btn-warning ml-2 ml-auto" type="button"><i class="fa fa-repeat"></i></button>
        <button class="btn btn-danger ml-2" type="submit"><i class="fa fa-power-off"></i></button>
    </nav>

    <div id="errors"></div>

    <div class="container mt-2">
        <div id="errors"></div>
        <div class="card mb-2">
            <div class="card-body p-0">
                <div class="card-header"><i class="fa fa-th-list"></i> Scripts</div>
                <div class="table-responsive">
                    <table class="table" id="scripts">
                    </table>
                </div>
            </div>
        </div>
    </div>

    {{.Scripts}}
</body>
</html>
